<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069230307458-rnd2c5gvgb4lqvg8uortirmp7kccamlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069230307458-rnd2c5gvgb4lqvg8uortirmp7kccamlj</string>
	<key>API_KEY</key>
	<string>AIzaSyArWB3ZX0M1511IPQ-zzIwvlkcS3bnwSs8</string>
	<key>GCM_SENDER_ID</key>
	<string>1069230307458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.polych.AuthModule</string>
	<key>PROJECT_ID</key>
	<string>authmodule-3134a</string>
	<key>STORAGE_BUCKET</key>
	<string>authmodule-3134a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069230307458:ios:2c347a73d7fd6015389c9b</string>
</dict>
</plist>